fastapi==0.104.1
uvicorn==0.25.0
python-multipart==0.0.6
jinja2==3.1.2
joblib==1.4.2
pandas==2.2.2
scikit-learn==1.6.1
python-dotenv==1.0.0
annotated-types==0.7.0
anyio==3.7.1
appdirs==1.4.4
asgiref==3.8.1
asttokens==3.0.0
attrs==24.2.0
azure-core==1.33.0
azure-identity==1.13.0
babel==2.16.0
base58==2.1.1
beautifulsoup4==4.12.3
bleach==6.2.0
blinker==1.9.0
bs4==0.0.2
cachetools==5.5.0
cartesia==1.1.0
certifi==2023.7.22
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cmu-graphics==1.1.26
colorama==0.4.6
comm==0.2.2
contourpy==1.3.0
cryptography==44.0.2
cycler==0.12.1
dataclasses-json==0.6.7
DateTime==5.5
debugpy==1.8.12
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.18
deprecation==2.1.0
dill==0.3.9
distro==1.9.0
Django==5.1.1
dnspython==2.7.0
docutils==0.21.2
docx2txt==0.8
ECPy==1.2.5
email_validator==2.2.0
executing==2.1.0
fastapi==0.104.1
fastjsonschema==2.21.1
fica==0.4.1
filelock==3.12.4
Flask==3.1.0
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
flutter==0.1
fonttools==4.53.1
frozenlist==1.5.0
frplib==0.2.7
gitdb==4.0.11
GitPython==3.1.43
gotrue==2.12.0
grader==1.2
greenlet==3.1.1
h11==0.14.0
h2==4.2.0
hpack==4.1.0
html5lib==1.1
httpcore==1.0.5
httpx==0.27.2
httpx-sse==0.4.0
hyperframe==6.1.0
idna==3.8
image==1.5.33
imagesize==1.4.1
iniconfig==2.1.0
ipykernel==6.29.5
ipylab==1.0.0
ipython==8.31.0
ipywidgets==8.1.5
iterators==0.2.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.2
jiter==0.5.0
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.13
jupytext==1.16.6
kiwisolver==1.4.7
langchain==0.3.7
langchain-community==0.3.5
langchain-core==0.3.15
langchain-openai==0.2.6
langchain-text-splitters==0.3.2
langsmith==0.1.142
lxml==5.3.0
Mako==1.3.9
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.23.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mistune==3.1.0
mpmath==1.3.0
msal==1.32.0
msal-extensions==1.3.1
multidict==6.1.0
mypy-extensions==1.0.0
mysql==0.0.3
mysqlclient==2.2.7
narwhals==1.13.3
nba_api==1.6.1
nbclient==0.10.2
nbconvert==7.16.5
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.1
numpy==2.2.4
openai==1.2.4
orjson==3.10.11
otter-grader==6.0.4
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parserlib==0.1.1
parso==0.8.4
parsy==2.1
pdf2image==1.17.0
perplexityai==1.0.5
pillow==10.4.0
platformdirs==4.3.6
playwright==1.49.1
pluggy==1.5.0
postgrest==1.0.1
prompt_toolkit==3.0.47
propcache==0.2.0
protobuf==5.28.3
psutil==6.1.1
ptpython==3.0.23
pure_eval==0.2.3
pyarrow==18.0.0
pycairo==1.25.0
pycosat==0.6.6
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.4.2
pydantic-settings==2.6.1
pydantic_core==2.10.1
pydeck==0.9.1
pydub==0.25.1
pyee==12.0.0
pygame==2.5.2
Pygments==2.18.0
PyJWT==2.10.1
pyparsing==3.1.4
PyPDF2==3.0.1
pytesseract==0.3.13
pytest==8.3.5
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-multipart==0.0.6
python-on-whales==0.75.1
pytz==2024.2
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.0
realtime==2.4.2
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.8.0
riotwatcher==3.3.1
rpds-py==0.21.0
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.6
Sphinx==8.1.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.35
sqlparse==0.5.1
stack-data==0.6.3
starlette==0.27.0
storage3==0.11.3
streamlit==1.40.0
StrEnum==0.4.15
supabase==2.15.0
supafunc==0.9.4
sympy==1.12
tenacity==9.0.0
termplotlib==0.3.9
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2==1.4.0
toml==0.10.2
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
types-Deprecated==1.2.15.20241117
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
uvicorn==0.24.0
watchdog==5.0.3
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wrapt==1.17.2
WTForms==3.2.1
xrpl-py==4.0.0
yarl==1.17.1
zope.interface==7.0.3
